html,body {
    height:100%;
    margin: 0px;
}

body {
    padding: 10px;
}

.calendar-container {
    width: 25%;
    float: left;
    height: 80%;
}

.add-event-container {
    width: 75%;
    float: right;
    height: 100%;
}

.add-event-fields {
    margin-left: 20px;
}